body { margin: 0; }

/* CSS navbar */
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 10;
	  }
	  
	  li {
		float: left;
	  }
	  
	  li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
	  
	  li a:hover {
		background-color: #111;
	  }
	  
	  .active {
		background-color: #4CAF50;
	  }

/* fin CSS navbar*/ 

/* CSS slider*/	
	.slider { 
		overflow: hidden;
		height: 100vh;
	 }
	.slider figure img { width: 20%; float: left; }
	.slider figure { 
	  position: relative;
	  width: 500%;
	  margin: 0;
	  left: 0;
	  text-align: left;
	  font-size: 0;
	  animation: 30s slidy infinite; 
	}

	
	@keyframes slidy {
		0% { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
		50% { left: -200%; }
		70% { left: -200%; }
		75% { left: -300%; }
		95% { left: -300%; }
		100% { left: -400%; }
		}
/* fin CSS navbar */

/* paragraphe */
.paragraphe{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	grid-gap: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 50vh;
}

.paragraphe img{
	display: block;
	width: 80%;
	margin: auto;
	
	}

.texte_paragraphe{
	display: block;
	width: 80%;
	margin: 10px;
	justify-content: safe;
}	
/* fin CSS paragraphe */

/* parallaxe */
.parallax-window {
    min-height: 50vh;
    background: transparent;
}
/* fin CSS parallaxe */

/* galerie */
.galerie {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
	grid-gap: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.galerie img{
	display: block;
	width: 80%;
	margin: auto;
}
/* fin CSS galerie */

/*footer 1 */
.footer1 {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto;
	grid-gap: 10px;
	margin:auto;	
}

.liens_footer{
	font:Verdana, Geneva, sans-serif;
font-size:18px;
text-align:left;
height:50px;
display: table;
width: 100%;
}
.footer 1 .liens_footer span {
/* Aligne le texte verticalement au milieu */
vertical-align:middle;
display: table-cell;
}
/* fin CSS galerie */